# Process this file with pip-compile to build a requirements.txt file
# that can be used with 'pip install -r requirements.txt' in a virtual
# environment or by binder.

urllib3==1.26.16

netCDF4==1.6.4
xarray==2023.7.0

pydap==3.4.0
dask==2023.7.0
matplotlib==3.7.2
earthaccess==0.5.2
shapely # ==1.7.1
cartopy # ==0.21.1
pydap==3.4.0

# jupyterlab
# jupyter #=1.0.0
# nbgitpuller=1.1.1
